fastapi
uvicorn
pydantic
langgraph
langchain
langchain-google-genai
langchain-core
psycopg2-binary
mlflow
prometheus-client
python-dotenv
httpx
pytest
pytest-cov
pytest-asyncio
flake8
black
deepeval
langchain-groq
